#bntMostrarM{
    visibility: hidden;
}

img {

    height: 200px;
    width: 200px;
}

a {
    text-decoration: none;
    color: #000;
}



.catalogoRegioes {
    margin-left: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.ficha {
    /* border: 1px solid red; */
    display: grid;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 1em;
}